name: CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build-accom-listing-function:
    uses: ./.github/workflows/build-lambda-function.yaml
    with:
      name: accom-listing-function
      lambda-function-name: ACCOM_accom-listing-function
      region: ap-southeast-1
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      account-id: ${{ secrets.AWS_ACCOUNT_ID }}


  build-accom-management-function:
    uses: ./.github/workflows/build-lambda-function.yaml
    with:
      name: accom-management-function
      lambda-function-name: ACCOM_accom-management-function
      region: ap-southeast-1
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      account-id: ${{ secrets.AWS_ACCOUNT_ID }}